<h2>Información vehiculo</h2>
<hr>
<table class="table" aria-describedby="tablaVehiculosSacar">
    <tbody>
      <tr>
        <th id="vehiculo">Vehiculo</th>
        <td id="dataVehiculo">{{vehiculo.placa}}</td>
      </tr>
      <tr>
        <th id="nombre">Nombre Propietario</th>
        <td id="dataNombre">{{vehiculo.nombrePropietario}}</td>
      </tr>
      <tr>
        <th id="apellido">Apellido Propietario</th>
        <td id="dataApellido">{{vehiculo.apellidoPropietario}}</td>
      </tr>
      <tr>
        <th id="tipoVehiculo">Tipo vehiculo</th>
        <td id="dataTipovehiculo">{{vehiculo.tipoVehiculo}}</td>
      </tr>
      <tr>
        <th id="modeloVehiculo">Modelo vehiculo</th>
        <td id="dataModeloVehiculo">{{vehiculo.modeloVehiculo}}</td>
      </tr>
      <tr>
        <th id="horaEntrada">Hora entrada</th>
        <td id="dataHoraEntrada">{{vehiculo.fechaEntrada.substring(11)}}</td>
      </tr>
      <tr>
        <th id="horaSalida">Hora salida</th>
        <td id="dataHoraSalida">{{vehiculo.fechaSalida.substring(11)}}</td>
      </tr>
      <tr>
        <th id="precio">Precio base hora</th>
        <td id="dataPrecio">${{vehiculo.precioBaseHora | number}}</td>
      </tr>
      <tr>
        <th id="pagar">Total a Pagar</th>
        <td id="dataPagar">${{vehiculo.totalPagar | number}}</td>
      </tr>
    </tbody>
</table>
<button type="button" class="btn btn-primary" (click)="eliminarVehiculo()">Pagar</button> 



