<table class="table table-hover" aria-describedby="tablaVehiculos">

    <thead>
        <tr>
            <th id="Id"> ID </th>
            <th id="Placa"> Placa </th>
            <th id="Propietario"> Propietario </th>
            <th id="TotalPagar"> Total Pagar </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehiculo of vehiculosO">
            <td id="dataId">{{vehiculo.id}}</td>
            <td id="dataPlaca">{{vehiculo.placa}}</td>
            <td id="dataNombre">{{vehiculo.nombrePropietario}}</td>
            <td id="dataPagar">{{vehiculo.totalPagar | currency}}</td>
        </tr>
    </tbody>
</table>
